@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
  --green: #354a21;
  --white: #fff;
  --black: #000;
  --light-blue: #b2d3c2;
}

/* General Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 90px;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

/* Navigation */
.header {
  width: 100%;
  height: 90px;
  background: var(--green);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.logo-container p {
  font-size: 50px;
  font-weight: bold;
  color: var(--light-blue);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transition: all 0.5s;
}

.nav-link {
  text-transform: uppercase;
  color: var(--light-blue);
  text-decoration: none;
}

label.icon {
  color: var(--light-blue);
  font-size: 30px;
  cursor: pointer;
  display: none;
}

@media (max-width: 900px) {
  label.icon {
    display: block;
  }

  .nav-menu {
    position: fixed;
    width: 100%;
    height: calc(100vh - 90px);
    top: 90px;
    left: -100%;
    background-color: #354a21;
    flex-direction: column;
  }

  .nav-menu.show {
    left: 0;
  }

  .nav-link {
    font-size: 20px;
  }
}

/* Hero Section*/
.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/images/j.jpg) no-repeat center center;
  background-size: cover;
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  text-align: center;
  color: var(--white);
}

.primary-heading .i {
  font-size: 120px;
}

.primary-heading .t {
  font-size: 100px;
}

.primary-heading .h {
  font-size: 80px;
}

@media (max-width: 1024px) {
  .primary-heading {
    font-size: 50px;
  }
}

/* Scale Section*/
.sec1 {
  padding: 100px 50px;
  margin: 0 auto;
  display: flex;
  place-items: center;
  justify-content: space-around;
  gap: 40px;
}

.img-cont {
  overflow: hidden;
  width: 100%;
}

.img-cont img {
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.scale h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--green);
}

.scale button {
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  background: var(--green);
  color: var(--light-blue);
  font-size: 15px;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 30px;
  transition: all 0.55s ease;
  font-weight: 600;
  font-family: inherit;
}

.scale button:hover {
  border: 1px solid white;
  background-color: #152505;
  transform: translateX(8px);
}

@media (max-width: 1024px) {
  .sec1 {
    flex-wrap: wrap;
  }
}

/* Mission Section*/
.sec2 {
  padding: 50px 50px;
  display: flex;
  gap: 40px;
  justify-content: space-around;
  place-items: center;
  background-color: #354a21;
  color: white;
}

.img1-cont {
  overflow: hidden;
  width: 100%;
}

.img1-cont img {
  width: 100%;
}

.mission h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--light-blue);
}

.mission p {
  line-height: 1.8;
}

.mission button {
  text-align: center;
  margin: 30px auto;
  cursor: pointer;
  border: 1px solid transparent;
  background: #728c69;
  color: white;
  font-size: 15px;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 30px;
  transition: all 0.5s ease;
  font-weight: 600;
  font-family: inherit;
}

.mission button:hover {
  border: 1px solid white;
  background-color: transparent;
  transform: translateX(8px);
}

@media (max-width: 1024px) {
  .sec2 {
    flex-wrap: wrap;
    place-items: center;
  }
}

/* Programs Section*/
.sec3 {
  padding: 50px;
  max-width: 1280px;
  margin: auto;
}

.secondary-heading {
  font-size: 50px;
  text-align: center;
  color: var(--green);
  margin-bottom: 40px;
}

.program-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  gap: 30px;
}

.program-cont {
  border-top-left-radius: 50px;
  border: 6px solid var(--black);
  padding: 15px;
  background-color: #354a21;
}

.program-cont h1 {
  margin-bottom: 30px;
  font-weight: 700;
  color: #b2d3c2;
}

.program-cont p {
  line-height: 1.5;
  margin-bottom: 10px;
  letter-spacing: 1;
  color: white;
}

.program-cont h2 {
  margin: 1.5rem 0;
  letter-spacing: 1;
  font-weight: 600;
  color: #b2d3c2;
}

.program-cont.light {
  border: 6px solid var(--green);
  background: transparent;
}

.program-cont.light h1,
.program-cont.light h2 {
  color: var(--green);
}

.program-cont.light p {
  color: var(--black);
}

@media (max-width: 1024px) {
  .program-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .program-box {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Sponsors Section */
.sec4 {
  padding: 50px;
  max-width: 1280px;
  margin: 0 auto;
}

.one {
  display: flex;
  place-content: center;
  gap: 30px;
}

@media (max-width: 1024px) {
  .one {
    flex-wrap: wrap;
  }
}

/* FAQS Section */
.sec5 {
  padding: 50px;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  margin-bottom: 30px;
}

.container > p,
.container > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.container > h1 {
  letter-spacing: 3px;
  color: black;
  font-size: 30px;
}

.faq {
  border: 1px solid var(--green);
  margin: 10px 0;
  padding: 0 2.5rem;
}

.accordion {
  color: #728c69;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.accordion i {
  font-size: 1.4rem;
}

.active,
.accordion:hover {
  font-weight: 600;
}

.panel {
  padding: 0 1rem 2.5rem 1.5rem;
  display: none;
  transition: all 0.5s ease;
}

/* Footer */
footer {
  position: relative;
  background-color: var(--green);
  padding: 20px 50px 40px;
  display: flex;
  place-content: center;
  flex-direction: column;
  color: var(--white);
  text-align: center;
}

footer .social-icon,
footer .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icon li a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  color: #b2d3c2;
  font-size: 16px;
  transition: 0.5s;
  text-decoration: none;
}

footer .menu li a:hover {
  color: var(--white);
}

footer p {
  margin-top: 15px;
  font-size: 15px;
}
